<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome to Our Service</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            line-height: 1.6;
            color: #333;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 600px;
            margin: auto;
            background: #fff;
            padding: 20px;
            border-radius: 8px;
        }
        h1 {
            color: #0056b3;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        .footer {
            margin-top: 20px;
            text-align: center;
            font-size: 0.9em;
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome, {{name}}!</h1>
        <p>Thank you for signing up for our service. We're excited to have you on board and can't wait for you to explore all the features we offer.</p>
        
        <p>To get started, please click the button below to verify your email address:</p>
        
        <p style="text-align: center;">
            <a href="{{verificationLink}}" class="button" style="background-color: #0056b3; color: white; padding: 10px 20px; margin: 20px 0; border-radius: 5px; display: inline-block; text-decoration: none;">Verify Email</a>
        </p>
        
        <p>If the button above doesn't work, paste the following link into your browser:</p>
        <p><a href="{{verificationLink}}">{{verificationLink}}</a></p>
        
        <p>If you have any questions, feel free to reply to this email. We're here to help!</p>
        
        <div class="footer">
            Cheers,<br>
            The S-Pro Team
        </div>
    </div>
</body>
</html>
